<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Jujuy - Energia Viva{% endblock %}</title>

    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Condensed:400,700" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    
  </head>
  <body id="body">

    <header>
        <nav id="main-navigation" class="nav navbar-static-top" role="navigation">

            <div class="responsive-menu">
                <div class="title-responsive"><p>Gobierno Abierto Jujuy</p></div>
                <div class="menu-toggle"><i class="fa fa-bars"></i></div>
            </div>

            <div class="container-fluid primary-nav">
                <div class="menu-principal-container"><ul id="menu-principal" class="nav navbar-nav"><li id="menu-item-806" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-14 current_page_item menu-item-806"><a href="http://www.gajujuy.gob.ar/">Inicio</a></li>
<li id="menu-item-793" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-793"><a>Institucional</a>
<ul class="sub-menu">
  <li id="menu-item-312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-312"><a href="http://www.gajujuy.gob.ar/institucional/direccion-de-transparencia-y-gobierno-abierto/">Dirección de Transparencia y Gobierno Abierto</a>
  <ul class="sub-menu">
    <li id="menu-item-6886" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6886"><a href="http://www.gajujuy.gob.ar/institucional/direccion-de-transparencia-y-gobierno-abierto/equipo-de-gobierno-abierto/">Equipo de Gobierno Abierto</a></li>
  </ul>
</li>
  <li id="menu-item-311" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-311"><a href="http://www.gajujuy.gob.ar/institucional/mesa-de-trabajo-permanente/">Mesa de Trabajo Permanente</a>
  <ul class="sub-menu">
    <li id="menu-item-1652" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1652"><a href="http://www.gajujuy.gob.ar/institucional/mesa-de-trabajo-permanente/responsables-de-unidad-de-gobierno-abierto/">Responsables de Unidad de Gobierno Abierto</a></li>
  </ul>
</li>
</ul>
</li>
<li id="menu-item-802" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-802"><a>Gobierno Abierto</a>
<ul class="sub-menu">
  <li id="menu-item-314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-314"><a href="http://www.gajujuy.gob.ar/gobierno-abierto/que-es-gobierno-abierto/">¿Qué es Gobierno Abierto?</a></li>
  <li id="menu-item-330" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-330"><a href="http://www.gajujuy.gob.ar/gobierno-abierto/beneficios/">Los Beneficios de Gobierno Abierto</a></li>
  <li id="menu-item-6680" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6680"><a href="http://www.gajujuy.gob.ar/gobierno-abierto/plan-operativo-2017/">Plan Operativo 2017</a></li>
  <li id="menu-item-2232" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2232"><a target="_blank" href="http://www.gajujuy.gob.ar/alianza-para-un-gobierno-abierto/">Alianza para un Gobierno Abierto</a></li>
  <li id="menu-item-5614" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5614"><a target="_blank" href="https://www.argentina.gob.ar/modernizacion/">Ministerio de Modernización</a></li>
</ul>
</li>
<li id="menu-item-754" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-754"><a>Transparencia</a>
<ul class="sub-menu">
  <li id="menu-item-471" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-471"><a href="http://www.gajujuy.gob.ar/ley-de-acceso-a-la-informacion-l-a-i/">Ley de Acceso a la Información (L.A.I.)</a>
  <ul class="sub-menu">
    <li id="menu-item-6653" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6653"><a href="http://www.gajujuy.gob.ar/registro-solicitudes/">Registro de Solicitudes de Información</a></li>
    <li id="menu-item-795" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-795"><a href="http://www.gajujuy.gob.ar/ley-de-acceso-a-la-informacion-l-a-i/que-es-el-acceso-a-la-informacion/">¿Qué es el Acceso a la Información?</a></li>
    <li id="menu-item-779" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-779"><a href="http://www.gajujuy.gob.ar/ley-de-acceso-a-la-informacion-l-a-i/que-es-una-solicitud-de-acceso-a-la-informacion/">¿Qué es una solicitud de acceso a la información?</a></li>
    <li id="menu-item-780" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-780"><a href="http://www.gajujuy.gob.ar/ley-de-acceso-a-la-informacion-l-a-i/beneficios-del-acceso-a-la-informacion/">¿Cuáles son los beneficios?</a></li>
    <li id="menu-item-800" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-800"><a href="http://www.gajujuy.gob.ar/ley-de-acceso-a-la-informacion-l-a-i/sujetos-obligados/">¿Quiénes son los Sujetos Obligados?</a></li>
    <li id="menu-item-701" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-701"><a href="http://www.gajujuy.gob.ar/ley-de-acceso-a-la-informacion-l-a-i/acceso-a-la-informacion/">Formulario de Solicitud de Información</a></li>
    <li id="menu-item-1769" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1769"><a href="http://www.gajujuy.gob.ar/ley-de-acceso-a-la-informacion-l-a-i/procedimientos/">Procedimiento de solicitud de información</a></li>
    <li id="menu-item-773" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-773"><a href="http://www.gajujuy.gob.ar/ley-de-acceso-a-la-informacion-l-a-i/normativa/">Normativa</a></li>
    <li id="menu-item-1520" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1520"><a href="http://www.gajujuy.gob.ar/ley-de-acceso-a-la-informacion-l-a-i/preguntas-frecuentes/">Preguntas Frecuentes</a></li>
  </ul>
</li>
  <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-315"><a href="http://www.gajujuy.gob.ar/?page_id=160">Informe de Gestión Semestral</a></li>
  <li id="menu-item-431" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-431"><a href="http://www.gajujuy.gob.ar/transparencia-activa/">Transparencia Activa</a></li>
</ul>
</li>
<li id="menu-item-803" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-803"><a>Participación</a>
<ul class="sub-menu">
  <li id="menu-item-6683" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6683"><a href="http://www.gajujuy.gob.ar/?page_id=6587">Construyendo la Participación Ciudadana</a></li>
  <li id="menu-item-1636" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1636"><a href="http://www.gajujuy.gob.ar/participacion-ciudadana/consulta-publica/">Consulta Pública</a></li>
  <li id="menu-item-321" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321"><a href="http://www.gajujuy.gob.ar/participacion-ciudadana/hackathon/">Hackathon</a></li>
</ul>
</li>
<li id="menu-item-804" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-804"><a>Datos Abiertos</a>
<ul class="sub-menu">
  <li id="menu-item-6995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6995"><a href="http://www.gajujuy.gob.ar/decretos/">Decretos y Resoluciones</a></li>
  <li id="menu-item-6954" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6954"><a target="_blank" href="http://presupuestociudadano.gajujuy.gob.ar">Presupuesto Ciudadano</a></li>
  <li id="menu-item-6717" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6717"><a href="http://www.gajujuy.gob.ar/nomina-de-personal/">Personal</a></li>
  <li id="menu-item-322" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322"><a href="http://www.gajujuy.gob.ar/datos-abiertos/contrataciones-publicas/">Licitaciones</a></li>
  <li id="menu-item-3699" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3699"><a target="_blank" href="http://datos.gajujuy.gob.ar">Portal de Datos Abierto</a></li>
</ul>
</li>
<li id="menu-item-6974" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6974"><a target="_blank" href="http://oa.jujuy.gob.ar/declaraciones-juradas">DDJJ</a></li>
</ul></div>
            </div>
        </nav><!-- #main-navigation -->
    </header>
    
    <main>
      {% block content %}
      
      {% endblock %}
    </main>

    <footer>
        <div class="footer-top"></div>
        <div class="footer-bottom">
          <div class="col-md-4">
            <h4>Dirección Provincial de Transparencia y Gobierno Abierto</h4>
            <div class="contacto-footer">
                <hr />
                <p>Sarmiento N°174 - 12 A</p>
                <p>San Salvador de Jujuy (Y4600)</p>
              <p>0388-4239452 | 388 446-2864</p>
              <p>info@gajujuy.gob.ar</p>
              <hr />
            </div>
          </div>
          <div class="col-md-4" ng-controller="NewsCtrl">
                  </div>
          <div class="col-md-4">
            <h4>Redes Sociales</h4>
            <div class="redes-sociales">
              <span class="icon-facebook"></span>
              <span class="icon-twitter"></span>
              <span class="icon-youtube"></span>
              <span class="icon-instagram"></span>
            </div>
            <h4>Secciones</h4>
            <ul class="secciones">
              <li><a href="#">Transparencia Activa</a></li>
              <li><a href="#">Conoc&eacute; Jujuy</a></li>
              <li><a href="#">Gobierno en Territorio</a></li>
              <li><a href="#">Agenda Cultural</a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">
          Dirección Provincial de Transparencia y Gobierno Abierto de Jujuy. 2017
        </div>
      </footer>
  </body>
</html>