{% extends 'base.html' %}

{% block content %}
  {% load core_tags %}
  <section class="home">
    <section class="seccion-archivos" id="archivos">
      <div class="header-content col-md-12">
          <!--Listado de Archivos (Aca deberias generar los bloques irregulares)-->
          <h1>Decretos y Resoluciones</h1>
          <!--Buscador-->
          <form method="post" class="buscar-archivos">
              {% csrf_token %}
              {{ form }}
              <button type="submit">Buscar</button>
          </form>
          <p>Acceda desde aquí a los decretos y resoluciones ministeriales del poder ejecutivo</p>
      </div>
      <div class="full-width">
          <div class="resultados-titulo col-md-12">
              {% if buscado %}
                <h2> Resultados de: {{buscado}}</h2>
              {% else %}
                <h2> Últimos Subidos</h2>
              {% endif %}
          </div>
          <p class="col-md-12" style="text-align: center;">*La información aquí presentada corresponde a los Decretos y resoluciones ministeriales remitidas a la Secretaría de Comunicación para su publicación desde abril de 2018.</p>
          <div class="col-md-9">
              <div class="lista-archivos">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>DECRETO</th>
                      <th>EXPEDIENTE</th>
                      <th>RESUMEN</th>
                      <th>ORGANISMO</th>
                      <th>FECHA</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for archivo in archivos %}
                      <tr>
                        <td><a href="/repositorio/{{ archivo.id }}">{{ archivo.nombre }}</a></td>
                        <td>{{ archivo.expediente }}</td>
                        <td><a href="/repositorio/{{ archivo.id }}">{{ archivo.resumen }}</a></td>
                        <td>{% buscar_organismo archivo.organismo organismos %}</td>
                        <td>{{ archivo.fecha_aprobacion|date:"d/m/Y" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
          <div class="sidebar col-md-3">
            <h3>Filtrar por:</h3>
            <hr>
            <!--AQUÍ VA EL LISTADO DE ORGANISMOS MAS USADOS (MAX 5)-->
            <h4>Organismos:</h4>
            <ul class="filter-list">
              {% for organismo in organismos %}
                <li><a href='/organismo/{{ organismo.0 }}'>{{ organismo.1 }}</a></li>
              {% endfor %}
            </ul>
            <!--AQUÍ VA EL LISTADO DE ETIQUETAS MAS USADOS (MAX 10)-->
            <hr>
            <h4>Etiquetas:</h4>
            <ul class="filter-list">
              {% for etiqueta in etiquetas %}
                <li><a href='/etiqueta/{{ etiqueta.id }}'>{{ etiqueta.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
      </div>
    </section>
  </section>
{% endblock %}
