{% extends 'base.html' %}

{% block content %}
<section class="home">
  <section class="seccion-archivos full-width" id="archivos">
    <!--Listado de Archivos (Aca deberias generar los bloques irregulares)-->
    <br>
    <h1>Archivos</h1>
    <!--Buscador-->
    <form method="post" class="buscar-archivos">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Buscar</button>
    </form>
    <hr>
    {% if buscado %}
    <h2> Archivos Encontrados</h2>
    {% else %}
      <h2> Ultimos Archivos Subidos</h2>
    {% endif %}
    <div class="lista-archivos">
      <ul class="grid row">
        {% for archivo in archivos %}
          <li class="grid-item col-md-4">
            <div>
              <div class="item-content">
                  <div class="col-md-4" style="background: white; height: 200px; padding: 0px;">
                    <a href="/repositorio/{{ archivo.id }}">
                      <img src="/{{ archivo.captura.url }}" alt="{{ archivo.nombre }}" width="120">
                    </a>
                  </div>
                  <div class="col-md-8">
                    <h2><a href="/repositorio/{{ archivo.id }}">{{ archivo.nombre }}</a></h2>
                    <p class="resumen">{{ archivo.resumen }}</p>
                    <p>{{ archivo.fecha_aprobacion }}</p>
                  </div>
                </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

</section>

{% endblock %}
