{% extends 'base.html' %}
{% block content %}

<section class="home">
  <section class="seccion-archivos full-width" id="archivos">
    <div class="header-content col-md-12">
        <!--Listado de Archivos (Aca deberias generar los bloques irregulares)-->
        <h2 class="site-title"><a href="/">Decretos y Resoluciones</a></h2>
    </div>


    <div class="col-md-12">
        <section class="mostrar-archivo row" style="padding-bottom: 40px">
            <h1 class="archivo-titulo col-md-12">{{ archivo.nombre }}</h1>
            <div class="archivo-thumb col-md-4">    
                <img src="/{{ archivo.captura.url }}" width="300" alt="{{ archivo.nombre }}">
                <!--<embed src="/{{ archivo.archivo.url }}" type="application/pdf" width="100%" height="600"></embed>-->
            </div>
            
            <div class="col-md-8">
                <h3>Etiquetas:</h3>
                <p class="etiquetas">
                    {% for etiqueta in archivo.etiquetas.all %}
                        <a href='/etiqueta/{{ etiqueta.id }}'>{{ etiqueta.name }}</a>,
                    {% endfor %}
                </p>
                <h3>Descripcion:</h3>
                <p class="descripcion">{{ archivo.resumen }}</p>
                <h3>Organismo: </h3>
                <!--REEMPLAZAR POR LA URL Y EL NOMBRE DEL ORGANISMO-->
                <p class="descripcion"><a href="{{ archivo.organismo }}">{{ archivo.organismo }}</a></p>
                <hr>
                <a href="/{{ archivo.archivo.url }}">Descargar</a>
            </div>
        </section>
    </div>
</section>
{% endblock %}