/* =Responsive Structure


/* All Mobile landscape size and All Mini Tablet Portrait size smaller than standard 768 and larger than 480 (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 1078px) {
	#body-header {
		height: auto;
	}
	#body-header,
	#main-navigation,
	#main-navigation.sticky {
		background: #91251c;
		display: block;
		position: initial;
	}
	.responsive-menu {
		display: block;
		margin: 0px 10px;
		padding: 10px 0px;
		position: relative;
		overflow: hidden;
	}
	.title-responsive {
		float: left;
		height: 30px;
		margin-top: 10px;
		max-width: 80%;
		position: relative;
	}
	.title-responsive p {
		color: #ffffff;
		font-size: 16px;
		font-weight: 900;
		line-height: 26px;
		margin: 0px;
	}
	.menu-toggle {
		display: block;
		float: right;
		height: 30px;
		margin-bottom: 10px;
		margin-top: 10px;
		text-align: right;
	}
	.menu-toggle i {
		color: #ffffff;
		font-size: 30px;
	}
	.primary-nav {
		display: none;
		background: #741918;
		position: absolute;
		z-index: 110;
	}
	.navbar {
		margin: 0px;
		padding: 0px;
	}
	.navbar-nav {
		margin: 0px !important;
	}
	.navbar-form {
		display: flex;
		justify-content: space-between;
	}
	.navbar-form .form-group {
		margin-right: 5px;
		width: 95%;
	}
	.navbar-form .btn{
		height: 34px;
	}
	/*#main-navigation {
		background: rgba(0,0,0,0.9);
	}*/
	ul.nav > li > a:focus, .nav > li > a:hover,
	ul.nav li:hover,
	ul.nav > li:hover,
	ul.nav li a:hover,
	ul.nav > li > a:hover,
	ul.nav li ul.sub-menu li:hover,
	ul.nav li ul.sub-menu li a:hover,
	ul.nav > li:hover > ul.sub-menu li a:hover {
		background: transparent;
		color: #ffffff;
	}	
	ul.nav li,
	ul.nav li ul.sub-menu li {
		border: none;
		margin: 0px;
		padding: 0px;
	}
	ul.nav li a,
	ul.nav li ul.sub-menu li a {
		padding: 10px 8px;
	}
	ul.nav > li ul.sub-menu {
		background: transparent;
		display: block;
		margin-left: 20px;
		padding: 0px;
		position: initial;
		width: 100%;
	}
	ul.nav li ul.sub-menu > li > a {
		color: #ffffff;
		font-size: 1.1em;
		font-weight: 300;
		padding: 10px 0px;
	}
	ul.nav li a, ul.nav li ul.sub-menu li a {
		padding: 10px 0px;
	}
	#logo-container {
		display: none;
	}
	.footer-top {
		background: url(../img/images/silueta_footer.png) repeat no-repeat center bottom;
		height: 160px;
		background-size: 150%;
	}
}

@media only screen and (max-width: 600px) {
	.header-content {
		background-size: auto 100%;
	}
}
/* All Mobile size smaller than standard 320 (devices and browsers) */
@media only screen and (max-width: 479px) {
	#body-header {
		height: auto;
	}
	.header-content {
		background-size: auto 100%;
	}
	#body-header,
	#main-navigation,
	#main-navigation.sticky {
		background: #91251c;
		display: block;
		position: initial;
	}
	.responsive-menu {
		display: block;
		margin: 0px 10px;
		padding: 10px 0px;
		position: relative;
		overflow: hidden;
	}
	.title-responsive {
		float: left;
		height: 30px;
		margin-top: 10px;
		max-width: 80%;
		position: relative;
	}
	.title-responsive p {
		color: #ffffff;
		font-size: 16px;
		font-weight: 900;
		line-height: 26px;
		margin: 0px;
	}
	.menu-toggle {
		display: block;
		float: right;
		height: 30px;
		margin-bottom: 10px;
		margin-top: 10px;
		text-align: right;
	}
	.menu-toggle i {
		color: #ffffff;
		font-size: 30px;
	}
	.primary-nav {
		display: none;
		background: #741918;
	}
	.navbar {
		margin: 0px;
		padding: 0px;
	}
	.navbar-nav {
		margin: 0px !important;
	}
	.navbar-form {
		display: flex;
		justify-content: space-between;
	}
	.navbar-form .form-group {
		margin-right: 5px;
		width: 95%;
	}
	.navbar-form .btn{
		height: 34px;
	}
	/*#main-navigation {
		background: rgba(0,0,0,0.9);
	}*/
	ul.nav > li > a:focus, .nav > li > a:hover,
	ul.nav li:hover,
	ul.nav > li:hover,
	ul.nav li a:hover,
	ul.nav > li > a:hover,
	ul.nav li ul.sub-menu li:hover,
	ul.nav li ul.sub-menu li a:hover,
	ul.nav > li:hover > ul.sub-menu li a:hover {
		background: transparent;
		color: #ffffff;
	}
	ul.nav li,
	ul.nav li ul.sub-menu li {
		border: none;
		margin: 0px;
		padding: 0px;
	}
	ul.nav > li > a {
		text-transform: uppercase;
	}
	ul.nav li a,
	ul.nav li ul.sub-menu li a {
		padding: 10px 8px;
	}
	ul.nav > li ul.sub-menu {
		background: transparent;
		display: block;
		margin-left: 20px;
		padding: 0px;
		position: initial;
		width: 100%;
	}
	ul.nav li ul.sub-menu > li > a {
		color: #ffffff;
		font-size: 1.1em;
		font-weight: 300;
		padding: 10px 0px;
	}
	#logo-container {
		display: none;
	}
	.footer-top {
		background: url(../img/images/silueta_footer.png) repeat no-repeat center bottom;
		height: 160px;
		background-size: 150%;
	}
}